/* HEADER */

.header_container {
    a {
        text-decoration: none;

        .logo {
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            .title {
                font-family: 'Dancing Script', cursive;
                font-size: 22px;
                color: #000000;

                h1 {
                    line-height: 1;
                    margin: 0px;
                }

                h2 {
                    @extend h1;
                    font-size: 22px;
                }
            }
        }
    }

    .informacion {
        font-family: 'Dancing Script', cursive;
        font-weight: 600;
        font-size: 20px;
        gap: 5px;

        .numero {
            img {
                width: 30px;
            }

            .telefono {
                color: #25d366;
            }
        }
    }

}

.header_navbar {
    border-bottom: 1px #808080 solid;
}