/* INDEX */
.anuncios {

    font-family: 'Heebo', sans-serif;

    .principal {
        height: 400px;

        background: rgb(187, 215, 219);
        background: linear-gradient(135deg, rgba(187, 215, 219, 1) 68%, rgba(73, 141, 150, 1) 100%);

        div {
            width: 50%;
            height: 100%;

            color: #ffffff;

            .descuentoPrincipal {
                font-weight: bold;
                font-size: 96px;
            }

            .tituloPrincipal {
                font-size: 26px;
            }

            .botonPrincipal {
                height: 50px;

                padding-left: 20px;
                padding-right: 20px;

                border: none;
                border-radius: 10px;
                background-color: #ffffff;

                transition: ease-in-out;
                transition-duration: 0.3s;

                &:hover {
                    background-color: #000000;
                    color: #ffffff;
                }
            }
        }
    }

    .coleccion {
        gap: 15px;

        .nuevaRopa {
            height: 400px;

            background: rgb(242, 243, 240);
            background: linear-gradient(235deg, rgba(242, 243, 240, 1) 44%, rgba(159, 159, 159, 1) 100%);

            div {
                width: 50%;
                height: 100%;

                span:nth-child(1) {
                    color: #bbd7db;
                    font-size: 24px;
                }

                span:nth-child(2) {
                    font-size: 60px;
                    font-weight: 500;
                }

                span:nth-child(3) {
                    font-size: 30px;
                    font-weight: 200;
                    line-height: 1.1;
                }

                span:nth-child(4) {
                    font-size: 24px;
                    font-weight: 200;
                    line-height: 1.1;
                }

                button {
                    height: 50px;

                    padding-left: 20px;
                    padding-right: 20px;

                    border: none;
                    border-radius: 10px;
                    background-color: #bbd7db;

                    transition: ease-in-out;
                    transition-duration: 0.3s;

                    &:hover {
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
            }
        }

        .ropa {
            height: 1000px;
            gap: 15px;

            .ropaBebe {
                height: 300px;

                background: rgb(242, 243, 240);
                background: linear-gradient(45deg, rgba(242, 243, 240, 1) 44%, rgba(159, 159, 159, 1) 100%);

                div {
                    width: 100%;
                    height: 100%;

                    span:nth-child(1) {
                        color: #bbd7db;
                        font-size: 60px;
                        font-weight: 500;
                    }

                    span:nth-child(2) {
                        font-size: 30px;
                        font-weight: 200;
                    }

                    a {
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }

            .ropaNiños {
                height: 600px;
                gap: 15px;

                .ropaNiña {
                    height: 50%;

                    background: rgb(249, 241, 235);
                    background: linear-gradient(235deg, rgba(249, 241, 235, 1) 21%, rgba(255, 225, 203, 1) 100%);

                    div {
                        width: 100%;
                        height: 100%;

                        span:nth-child(1) {
                            font-size: 40px;
                            font-weight: 500;
                        }

                        span:nth-child(2) {
                            font-size: 20px;
                            font-weight: 200;
                        }

                        a {
                            text-decoration: none;
                            color: #000000;
                        }
                    }
                }

                .ropaNiño {
                    height: 50%;

                    background: #bbd7db;
                    background: linear-gradient(135deg, rgba(187, 215, 219, 1) 68%, rgba(73, 141, 150, 1) 100%);

                    div {
                        width: 100%;
                        height: 100%;

                        color: #ffffff;

                        span:nth-child(1) {
                            font-size: 40px;
                            font-weight: 500;
                        }

                        span:nth-child(2) {
                            font-size: 20px;
                            font-weight: 200;
                        }

                        a {
                            text-decoration: none;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            .ropa {
                height: 600px;

                .ropaNiños {
                    height: 300px;

                    .ropaNiña {
                        width: 50%;
                        height: 100%;
                    }

                    .ropaNiño {
                        width: 50%;
                        height: 100%;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        .coleccion {
            height: 600px;

            .nuevaRopa {
                width: 50%;
                height: 100%;
            }

            .ropa {
                width: 50%;
                height: 100%;
            }
        }
    }
}