/* HEADER */
.header_container a {
    margin-right: 200px;
    text-decoration: none;
}

.header_container_logo {
    color: #000000;
}

.header_container_logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header_container_title {
    font-family: 'Dancing Script', cursive;
}

.header_container_title span {
    font-size: 22px;
}

.header_container_information {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 20px;
}

.header_container_information_telefono {
    color: #25d366;
}


.header_navbar {
    border-bottom: 1px #808080 solid;
}



/* MAIN */

.anuncioPrincipal {
    height: 400px;

    background: rgb(187, 215, 219);
    background: linear-gradient(135deg, rgba(187, 215, 219, 1) 68%, rgba(73, 141, 150, 1) 100%);
}

.anuncioColeccion {
    height: 600px;
}

.anuncioColeccion_nuevaRopa {
    width: 50%;

    background: rgb(242, 243, 240);
    background: linear-gradient(235deg, rgba(242, 243, 240, 1) 44%, rgba(159, 159, 159, 1) 100%);
}

.anuncioColeccion_ropa {
    width: 50%;
}

.anuncioColeccion_robaBebe {
    height: 50%;

    background: rgb(242, 243, 240);
    background: linear-gradient(45deg, rgba(242, 243, 240, 1) 44%, rgba(159, 159, 159, 1) 100%);
}

.anuncioColeccion_ropaNiños {
    height: 50%;
}

.anuncioColeccion_ropaNiña {
    width: 50%;

    background: rgb(249, 241, 235);
    background: linear-gradient(235deg, rgba(249, 241, 235, 1) 21%, rgba(255, 225, 203, 1) 100%);
}

.anuncioColeccion_ropaNiño {
    width: 50%;

    background: rgb(187, 215, 219);
    background: linear-gradient(135deg, rgba(187, 215, 219, 1) 68%, rgba(73, 141, 150, 1) 100%);
}



/* FOOTER */

.footer_container_suscripcion {
    margin-top: 100px;
    background: rgb(187, 215, 219);
}

.footer_container_suscripcion_information {
    width: 50%;
    color: #ffffff;
}

.footer_container_suscripcion_information h3 {
    font-size: 24px;
}

.footer_container_suscripcion form {
    width: 50%;
}

.input_email {
    width: 350px;
    height: 50px;
    padding: 10px;

    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.input_submit {
    height: 50px;

    padding-left: 20px;
    padding-right: 20px;

    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.footer_container_information {
    background: rgb(249, 241, 235);
    border-bottom: 1px solid #000000;
}

.footer_container_information_sobreNosotros a {
    text-decoration: none;
    color: #000000;
}

.footer_container_pagos {
    background: rgb(249, 241, 235);
}

.footer_container_pagos img {
    height: 50px;
}

.footerInstagram a{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}